{#
/**
 * @file
 * Template for the order processing notice.
 *
 * Available variables:
 * - body: Call values
 *
 * @ingroup themeable
 */
#}
<table style="margin: 15px auto 0 auto; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
  <tr>
    <td>
      <table style="margin-left: auto; margin-right: auto; max-width: 768px; text-align: center;">
        <tbody>
        <tr>
          <td>
            <p>{{ body.country_image }}</p>
            <p>{{ body.country }}</p>
            <p>{{ body.city }}</p>
            <p>{{ body.main }}</p>
            <p>{{ body.description }}</p>
            <p>{{ body.icon }}</p>
            <p>{{ body.temp }}</p>
            <p>{{ body.feels_like }}</p>
            <p>{{ body.temp_min }}</p>
            <p>{{ body.temp_max }}</p>
            <p>{{ body.pressure }}</p>
            <p>{{ body.humidity }}</p>
            <p>{{ body.wind_direction }}</p>
            <p>{{ body.wind_deg }}</p>
            <p>{{ body.wind_speed }}</p>
            <p>{{ body.aqi }}</p>
            <p>{{ body.co }}</p>
            <p>{{ body.no }}</p>
            <p>{{ body.no2 }}</p>
            <p>{{ body.o3 }}</p>
            <p>{{ body.so2 }}</p>
            <p>{{ body.pm2_5 }}</p>
            <p>{{ body.pm10 }}</p>
            <p>{{ body.nh3 }}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
